<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>面試介面</title>
    <link rel="icon" href="images/favicon.ico" type="image/x-icon"/>
    <!-- Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- CSS Style -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-face-css.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/owl.carousel.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.mobile-menu.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/revslider.css}">
    <!-- Google Fonts -->
    <!-- Kevin CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/kevin.css}">
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js}"></script>
</head>
<body>
<button>查詢資料</button>
<button>新增資料</button>

<table>
    <h1 id="testJQ"></h1>
    <thead>
    <tr>
        <th>idx</th>
        <th>Key</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody id="putHere">
    </tbody>
</table>


<form th:action="@{/kevinLogin}" method="get">
    <table>
        <tr>
            <td>ID : </td>
            <td><input type="text" name="key" value=""></td>
        </tr>
        <tr>
            <td>PWD : </td>
            <td><input type="text" name="value" value=""></td>
        </tr>
        <tr>
            <td align="right"><input type="submit" value="Login"></td>
        </tr>
    </table>
</form>
<script>
    var cnt = 0;
    var data;
    // //JQ一開始就要資訊
    var settings = {
        "url": "http://localhost:8081/boot/getAllData",
        "method": "GET",
        "timeout": 0,
    };

    $.ajax(settings).done(function (response) {
        console.log(response);
        data = JSON.parse(response);

        data.forEach(function (e) {
            console.log(e.base64);
            appendData(e.idx, e.aes256, e.base64);
        });
    });

    // //JQ一開始就要資訊


    function appendData(idx, aes256, base64) {
        $("#putHere").append(
            `<tr id="item${cnt}" >
                <td>${idx}</td>
                <td>${base64.key}</td>
                <td>${base64.value}</td>
            </tr>`)
    }
</script>
</body>
</html>